<div class="toolbar"><%=link_to "編集",[:edit,@book] %></div>

<table class="attr">
	<tr>
		<th width="150">書籍番号</th>
		<td><%=@book.id %></td>
	</tr>

	<tr>
		<th width="150">書籍タイトル</th>
		<td><%=@book.book_title %></td>
	</tr>

	<tr>
		<th width="150">著者</th>
		<td><%=@book.writer %></td>
	</tr>

	<tr>
		<th width="150">出版社</th>
		<td><%=@book.company %></td>
	</tr>

	<tr>
		<th width="150">価格</th>
		<td><%=@book.price %></td>
	</tr>
</table>
